<form method="post" action="/kardex/crear">
  <select name="tipo" id="id_tipo">
    <option value="0">Ingreso</option>
    <option value="1">Salida</option>
  </select>
  <input type="number" name="cantidad">
  <select name="idProducto" id="">
    <% productos.forEach(function (producto) { %>
    <option value="<%= producto.idProducto %>"> <%= producto.nombreProducto %> </option>
    <% }) %>
  </select>
  <input type="submit" value="Guardar">
</form>
