<form method="post" action="/kardex/crear">
  <select name="tipo" id="id_tipo">
    <option value="0">Ingreso</option>
    <option value="1">Salida</option>
  </select>
  <input type="number" name="cantidad">
  <input type="number" name="idProducto">
  <input type="submit" value="Guardar">
</form>
