<form action="/kardex/eliminar/<%= registro.idkardex %>">
  <h2>¿Quieres Eliminar el Registro?</h2>
  <p><%if (registro.tipo==0) { %> Ingreso <% } else if (registro.tipo==1) {%> Salida <%}%>
  <%= registro.cantidad %>
  <%= registro.idProducto.nombreProducto %>
  </p>
  <a href="/kardex/listar">Cancelar</a>
  <input type="submit" value="Eliminar">
</form>
