<form method="post" action="/producto/crear">
  <input type="text" name="nombreProducto"  >
  <input type="text" name="precio"  >
  <input type="text" name="stockInicial"  >
  <input type="submit" value="Insertar">
</form>
