<html>
<body>
<form method="post" action="/producto/actualizar/ <%=registro.idProducto%>">
  <input type="text" name="nombreProducto" value="<%=registro.nombreProducto%>"  >
  <input type="number" name="precio" value="<%=registro.precio%>" >
  <input type="number" name="stockInicial"  value="<%=registro.stockInicial%>">
  <input type="submit" value="Actualizar">
</form>

</body>
</html>
